<!--Comfortaa font used in footer sticky bar-->
<link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">

<!--Footer resources-->
<footer class="footer">

    <a class="navbar-brand text-style" href="https://aleks-2.mat.umk.pl/pz2018/zesp04/">O nas</a>

    <a class="navbar-brand text-style" href="../../assets/regulamin.pdf">Regulamin korzystania z serwisu</a>

    <a class="navbar-brand text-style" download="app-debug.apk" href="https://aleks-2.mat.umk.pl/pz2018/zesp04/docs/app/setup.apk">Pobierz aplikację mobilną</a>
</footer>
<!-- https://www70.zippyshare.com/v/eDkv7VEu/file.html -->
<!-- href="../../assets/app-debug.apk" -->
