.form-group{
  /*display: flex;
  align-items: center;
  justify-content: center;*/
  /* width: 100%; */
}

label{
  width: 100%;
}
.container{
  border: 1px solid rgb(189, 102, 4);
  border-radius: 10px;
  /* margin-top: 5%; */
  margin-bottom: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  /* background-color:#ffe8ab; */
  width: auto;
  max-width: 600px;
  }
.padding{
  height: 100%;
  padding-top: 5%;

}
#wysw-pos{
  max-height: 150px;
  overflow:auto;
}
.wrapper-progressBar {
  width: 100%
}

.progressBar {
}

.progressBar li {
  list-style-type: none;
  float: left;
  width: 20%;
  position: relative;
  text-align: center;

}

.progressBar li a {
  position: absolute;
    top: 0.14rem;
    left: 0;
    right: 0;
    padding: 0;
    color: white;
    background-color: transparent;
    z-index: 10;
    display: none;
}

.progressBar li:before {
  content: " ";
  line-height: 30px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: block;
  text-align: center;
  /* Ponizej ustawiam wysokosc kreski */
  margin: 0 auto;
   /* 20px; */
   /* Kropki przed aktivem */
  background-color: white;
  /* Priorytet kresek miedzy kropkami w modalu */
  position: relative;
  z-index: 10;
}

.progressBar li:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #ddd;
  top: 15px;
  left: -50%;
  z-index: 1;
}

.progressBar li:first-child:after {
  content: none;
}

.progressBar li.active {
  color: dodgerblue;
}

.progressBar li.active a {
  display: block;
}

.progressBar li.active:before {
  border-color: dodgerblue;
  /* Kropki po activie */
  background-color: dodgerblue;
  /* background-image: url("../../assets/jeden.png");
  background-size: contain; */
}

.progressBar .active:after {
  background-color: dodgerblue;
}

/* .progressBar li a {
  height: 100%;
} */
